@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: #c200a9;
}

.introPara{
    font-size: medium;
    font-family: 200;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.btn:hover{
    background: #c200a9;
    margin: 2rem 0;
    color: white;
}

@media screen and (max-width: 840px) {
    .bg{
        right: -10vw;
    }

    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw
    }
}

@media screen and (max-width: 480px) {
    .bg{
        right: -20vw;
    }
}